.archivo-black-regular {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

body {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    background-color: rgb(26, 26, 26);
    flex: 1;
    padding: 200px;
    
}


.navbar {
    background-color: #282828;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    
}

.navbar a {
    padding: 10px 5px 10px 5px;
}

.navbar M {
    align-self: center;
    font-size: 65px;
    color: rgb(255, 255, 255);
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
  }



a {
    font-size: 25px;
    padding: 8px;
    padding-right: 8px;
    color: rgb(255, 255, 255);
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

p {
    font-size: 20px;
    padding: 8px;
    padding-right: 8px;
    color: rgb(255, 255, 255);
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}
