.archivo-black-regular {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

body {

    background-color: rgb(26, 26, 26);

}

.header {

    color: rgb(255, 255, 255);
    text-shadow:0px 3px 7px #000000;

}

.navbar {
    background-color: #282828;
    box-shadow: 0px 0px 30px #000000;

    
}

.navbar a {
    padding: 20px;
    text-align: center;
    transition: background-color 0.3s ease, border-radius 0.3s ease;

}

.navbar a:hover{ 

    background-color: #636363;

    
}

.navbar M {

    color: rgb(255, 255, 255);

  }



a {

    color: rgb(255, 255, 255);

    
    
}

p {
    font-size: 20px;
    padding: 8px;
    padding-right: 8px;
    color: rgb(255, 255, 255);
8ii
    
}

input {
    background: none;
    box-shadow: 5px 5px 10px #000000;   
    padding: 0px 20px;
    height: 40px;
    color: var(--text-color);
    outline: none;
    width: 40vw;
    margin-top: 10px;
    border-radius: 10px;
    color: #ffffff;
    background-color: #282828;
    border: 4px solid  rgb(255, 255, 255);
    transition-duration: 1s;

}

input:focus {
    border-color: rgb(255, 255, 255);
    border-radius: 50px;
    background-color: #515050;
}

::placeholder {
    font-size: 15px;
    padding: 8px;
    color: rgb(255, 255, 255);
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    
    
}

#address {
    font-size: 15px;
    color: rgb(255, 255, 255);
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    
    
}


#modeToggle {
    background-color: #ffffff; 
    border: none;
    color: rgb(0, 0, 0); 
    padding: 10px 20px;
    text-align: center;
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    cursor: pointer; 
    border-radius: 3000px; 
    transition: background-color 0.3s; 
    align-self: center;
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}


#modeToggle:hover {
    background-color: #000000; 
    color: rgb(255, 255, 255);
    color: rgb(255, 255, 255); 
}

footer {
    position: absolute;
    bottom: 0;
    margin-top: 30px;
}

#frame {
    position: absolute;
    width: 100%;
    height: 90%;
    bottom: 0;
    left: 0;
    border: none;
}

.navbar-proxy {
    background-color: #282828;
    box-shadow: 0px 0px 30px #000000;
    height: auto;
    position: fixed;
    top: 0;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    border-radius: 15px;
    width: 80%;
    height: 63px;
    transition-duration: 1s;
    
    
}

.navbar-proxy a {
    padding: 20px;
    text-align: center;
    transition: background-color 0.3s ease, border-radius 0.3s ease;

}

.navbar-proxy a:hover{ 
    padding: 20px;
    text-align: center;
    background-color: #636363;
    border-radius: 25px;
    
}

.navbar-proxy M {
    align-self: center;
    font-size: 65px;
    color: rgb(255, 255, 255);
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
  }



a {
    font-size: 18px;
    padding: 8px;
    padding-right: 8px;
    color: rgb(255, 255, 255);
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    
    
}

.hidden button {
    width: 100%;
    font-family: "Archivo Black", sans-serif;
    padding: 5px;
    border: 3px solid #3c3c3c;
    border-radius: 5px;
    background-color: #363636;
    font-size: 16px;
    color: #ffffff;
    appearance: none;
    padding: 10px 30px 10px 10px;
    transition: border-radius 0.3s ease;
  }
  
  .hidden button:hover {
    width: 100%;
    font-family: "Archivo Black", sans-serif;
    padding: 5px;
    border: 3px solid #3c3c3c;
    border-radius: 25px;
    background-color: #363636;
    font-size: 16px;
    color: #ffffff;
    appearance: none;
    padding: 10px 30px 10px 10px;
  }

  .apperance {
    border: 4px solid rgb(255, 255, 255);
    border-radius: 5px;
    padding: 20px;

  }

.apperance select {
    width: 75%;
    font-family: "Archivo Black", sans-serif;
    padding: 5px;
    border: 3px solid #3c3c3c;
    border-radius: 5px;
    background-color: #363636;
    font-size: 16px;
    color: #ffffff;
    appearance: none;
    padding: 10px 30px 10px 10px;
}

.apperance select option:checked {
    background-color: #686868;
  }

  .hidden {
    border: 4px solid rgb(255, 255, 255);
    border-radius: 5px;
    padding: 20px;

  }

  .tabcloak {
    border: 4px solid rgb(255, 255, 255);
    border-radius: 5px;
    padding: 20px;

  }
  
  .tabcloak select {
    width: 75%;
    font-family: "Archivo Black", sans-serif;
    padding: 5px;
    border: 3px solid #3c3c3c;
    border-radius: 5px;
    background-color: #363636;
    font-size: 16px;
    color: #ffffff;
    appearance: none;
    padding: 10px 30px 10px 10px;
}

.tabcloak select option:checked {
    background-color: #686868;
  }

  h2 {
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-shadow:0px 3px 7px #000000;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}