.archivo-black-regular {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

body {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    background-color: rgb(212, 212, 212);
    flex: 1;
    padding: 200px;
    
}

.header {
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-shadow:0px 3px 7px #3d3d3d;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 5px;
    
}

.navbar {
    background-color: #f1f1f1;
    box-shadow: 5px 5px 10px #000000;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    
}

.navbar a {
    padding: 10px 5px 10px 5px;
}

.navbar M {
    align-self: center;
    font-size: 65px;
    color: rgb(0, 0, 0);
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
  }



a {
    font-size: 25px;
    padding: 8px;
    padding-right: 8px;
    color: rgb(0, 0, 0);
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

p {
    font-size: 20px;
    padding: 8px;
    padding-right: 8px;
    color: rgb(0, 0, 0);
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

form input {
    background: none;
    box-shadow: 5px 5px 10px #000000;   
    padding: 0px 20px;
    height: 40px;
    color: var(--text-color);
    outline: none;
    width: 400px;
    margin-top: 10px;
    border-radius: 10px;
    color: #000000;
    border: 5px solid  rgb(0, 0, 0);
    transition-duration: 1s;
}

form input:focus {
    border-color: rgb(0, 0, 0);
    border-radius: 50px;
}

::placeholder {
    font-size: 16px;
    padding: 8px;
    color: rgb(0, 0, 0);
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    
    
}

#modeToggle {
    background-color: #000000; 
    border: none; /* No border */
    color: rgb(255, 255, 255); /* White text */
    padding: 10px 20px; /* Padding around text */
    text-align: center; /* Center text */
    text-decoration: none; /* No underlining */
    display: inline-block; /* Display as inline block */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Cursor pointer */
    border-radius: 4px; /* Rounded corners */
    transition: background-color 0.3s; /* Smooth color transition on hover */
        align-self: center;
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Hover effect */
#modeToggle:hover {
    background-color: #ffffff; /* Darker green on hover */
    color: rgb(0, 0, 0);
    color: rgb(0, 0, 0); /* White text */
}