.archivo-black-regular {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

body {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    background-color: rgb(26, 26, 26);
    flex: 1;
    padding: 200px;
    
}

.header {
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-shadow:0px 3px 7px #000000;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 5px;
    
}

.navbar {
    background-color: #282828;
    box-shadow: 5px 5px 10px #000000;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    
}

.navbar a {
    padding: 10px 5px 10px 5px;
}

.navbar M {
    align-self: center;
    font-size: 65px;
    color: rgb(255, 255, 255);
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
  }



a {
    font-size: 18px;
    padding: 8px;
    padding-right: 8px;
    color: rgb(255, 255, 255);
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

p {
    font-size: 20px;
    padding: 8px;
    padding-right: 8px;
    color: rgb(255, 255, 255);
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

form input {
    background: none;
    box-shadow: 5px 5px 10px #000000;   
    padding: 0px 20px;
    height: 40px;
    color: var(--text-color);
    outline: none;
    width: 400px;
    margin-top: 10px;
    border-radius: 10px;
    color: #ffffff;
    border: 5px solid  rgb(255, 255, 255);
    transition-duration: 1s;
}

form input:focus {
    border-color: rgb(255, 255, 255);
    border-radius: 50px;
}

::placeholder {
    font-size: 15px;
    padding: 8px;
    color: rgb(255, 255, 255);
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    
    
}

#modeToggle {
    background-color: #ffffff; 
    border: none;
    color: rgb(0, 0, 0); 
    padding: 10px 20px;
    text-align: center;
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    cursor: pointer; 
    border-radius: 3000px; 
    transition: background-color 0.3s; 
        align-self: center;
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}


#modeToggle:hover {
    background-color: #000000; 
    color: rgb(255, 255, 255);
    color: rgb(255, 255, 255); 
}

    
