.archivo-black-regular {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

body {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    background-color: rgb(26, 26, 26);
    flex: 1;
    padding: 200px;
    
}


.navbar {
  background-color: #282828;
  box-shadow: 0px 0px 50px #000000;
  height: auto;
  position: fixed;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  border-radius: 15px;
  width: 75%;;
  transition-duration: 1s;
  
}

.navbar a {
  padding: 20px;
  text-align: center;
  transition: background-color 0.3s ease, border-radius 0.3s ease;

}

.navbar a:hover{ 
  padding: 20px;
  text-align: center;
  background-color: #636363;
  border-radius: 25px;
}

.navbar M {
    align-self: center;
    font-size: 65px;
    color: rgb(255, 255, 255);
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
  }



a {
  font-size: 18px;
  padding: 8px;
  padding-right: 8px;
  color: rgb(255, 255, 255);
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
    
}

p {
    font-size: 20px;
    padding: 8px;
    padding-right: 8px;
    color: rgb(255, 255, 255);
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

.header {
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-shadow:0px 3px 7px #000000;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
        }

.apperance {
    border: 4px solid rgb(255, 255, 255);
    border-radius: 5px;
    padding: 20px;

  }

.apperance select {
    width: 75%;
    font-family: "Archivo Black", sans-serif;
    padding: 5px;
    border: 3px solid #3c3c3c;
    border-radius: 5px;
    background-color: #363636;
    font-size: 16px;
    color: #ffffff;
    appearance: none;
    padding: 10px 30px 10px 10px;
}

.apperance select option:checked {
    background-color: #686868;
  }

  .hidden {
    border: 4px solid rgb(255, 255, 255);
    border-radius: 5px;
    padding: 20px;

  }

  
.checkbox-real {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  
  .checkbox-custom-label {
    display: inline-block;
    width: 20px; 
    height: 20px; 
    background-color: #363636;
    border: 3px solid #3c3c3c;
    border-radius: 3px;
    cursor: pointer; 
  }
  
  
  .checkbox-real:checked + .checkbox-custom-label::after {
    content: '\2713'; 
    font-size: 14px;
    color: #fff;


  }
  
  
  .checkbox-custom-label::after {
    content: '';

    left: 50%;
    transform: translate(-50%, -50%);
  }
  

  .checkbox-custom-label:hover {
    background-color: #666666;
  }
  
 
  .checkbox-real:checked + .checkbox-custom-label {
    background-color: #007bff; 
    border-color: #0a4b91; 
  }
  
h2 {
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-shadow:0px 3px 7px #000000;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}